.tablist p {
    color:gray;
}

.tab.active {
    color: rgb(0, 110, 255);
    border-bottom:1px solid rgb(0, 110, 255);
    /* border-top:1px solid rgb(0, 110, 255); */
    /* border-left:1px solid rgb(0, 110, 255); */
    /* border-right:1px solid rgb(0, 110, 255); */
    /* border-radius: 10px; */
}

.tab {
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}
  