.navbar-end a.active {
    color: rgb(0, 128, 255);
}
ul a.active {
    color: rgb(0, 110, 255);
    border-bottom:1px solid rgba(18, 93, 191, 0.124);
    border-top:1px solid rgba(0, 110, 255, 0.135); 
    /* border-left:1px solid rgb(0, 110, 255); */
    /* border-right:1px solid rgb(0, 110, 255); */
    /* border-radius: 10px; */
}
ul a {
    padding: 2px 10px;
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}